@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {	
	height: 100%;
	text-align: center;
	margin: 0 auto;
	position: relative;
	background-image: url("../img/aallot.jpeg");	
}

#sisalto {
	padding-top: 250px;
	text-align: center;
}

#aika {
	padding-top: 500px;
	font-family: 'Montserrat', sans-serif;
	font-size: 200px;
	color: #FAFAFA;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #212121;
	padding-right: 10px;
	
}

#sekunnit {
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
	color: #FAFAFA;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #212121;
	position: fixed;
	
}

